/* CONTENEDOR GENERAL */
.contenedor {
  width: 100%;
  max-width: 95%;
  margin: auto;
  padding: 20px;
}



/* TITULO */
h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 800;
  color: #003366;
}

/* ============================
   SECCIÓN TOP (1°, 2°, 3°)
   ============================ */
.top-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.top-item {
  text-align: center;
  width: 150px;
}

.top-logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 10px;
}

.top-nombre {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.top-porcentaje {
  font-size: 25px;
  font-weight: 800;
  color: #0b0c0c;
}


/* ============================
   REJILLA DEL RESTO
   ============================ */

.resto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

.resto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.resto-logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
  margin-bottom: 6px;
}

.resto-porcentaje {
  font-size: 18px;
  font-weight: 700;
  color: #003366;
}

.logo {
  width: 58px;
  height: 58px;
  object-fit: contain;
  border-radius: 4px;
  background: #fff;

}

/* ============================
   COLORES POR SECCIÓN (JNE)
   ============================ */

/* Presidencial – Amarillo */
.bloque.presidencial {
  background: #e6f4ff;
  border-left: 4px solid #4da3ff;
  border-right: 4px solid #4da3ff;
  border-bottom: 4px solid #4da3ff;
  border-top: 4px solid #4da3ff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}

.bloque.presidencial::before {
  content: "https://simulador.app-service.pe/";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  color: #003366;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(-20deg);
  pointer-events: none;
  white-space: nowrap;
}




/* Senador Único – Celeste */
.bloque.senado-unico {
  background: #ffe9d6;
  border-left: 4px solid #ff8c42;
  border-right: 4px solid #ff8c42;
  border-bottom: 4px solid #ff8c42;
  border-top: 4px solid #ff8c42;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.bloque.senado-unico::before {
  content: "https://simulador.app-service.pe/";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  color: #003366;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(-20deg);
  pointer-events: none;
  white-space: nowrap;
}


/* Senador Múltiple – Azul */
.bloque.senado-multiple {
  background: #ffe9d1;
  border-left: 4px solid #ff8c42;
  border-right: 4px solid #ff8c42;
  border-bottom: 4px solid #ff8c42;
  border-top: 4px solid #ff8c42;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.bloque.senado-multiple::before {
  content: "https://simulador.app-service.pe/";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  color: #003366;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(-20deg);
  pointer-events: none;
  white-space: nowrap;
}


/* Diputados – Verde */
.bloque.diputados {
  background: #e6ffe6;
  border-left: 4px solid #4a944a;
  border-left: 4px solid #4a944a;
  border-right: 4px solid #4a944a;
  border-bottom: 4px solid #4a944a;
  border-top: 4px solid #4a944a;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.bloque.diputados::before {
  content: "https://simulador.app-service.pe/";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  color: #003366;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(-20deg);
  pointer-events: none;
  white-space: nowrap;
}

/* Parlamento Andino – Naranja */
.bloque.andino {
  background: #fff7cc;
  border-left: 4px solid #e6c200;
  border-left: 4px solid #e6c200;
  border-right: 4px solid #e6c200;
  border-bottom: 4px solid #e6c200;
  border-top: 4px solid #e6c200;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.bloque.andino::before {
  content: "https://simulador.app-service.pe/";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  color: #003366;
  opacity: 0.1;
  transform: translate(-50%, -50%) rotate(-20deg);
  pointer-events: none;
  white-space: nowrap;
}


/* BOTONES */
.bs-botones {
  display: flex;
  gap: 10px;
  flex-direction: row;
  /* centra horizontal */
  justify-content: flex-start;
  /* o center si quieres centrar vertical */

}

.btn-donar {
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  background: #e9880a;
  color: #fff;
}

.div-boton {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

}

.btn-enviar,
.btn-salir {
  width: 100%;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.btn-enviar {
  background: #28a745;
  color: #fff;
}



.btn-enviar:disabled {
  background: #9bbfa1;
  cursor: not-allowed;
}

.btn-salir {

  background: #dc3545;
  color: #fff;
}